<!-- use base structure for header and footer-->
{% extends "main.html" %} 
<!-- space for index page title-->
{% block title %}
    <title>Index Page </title>
{% endblock %}

<!-- space for index page content-->
{% block content %}
    <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, perferendis beatae nostrum earum
        ducimus, error dolorum blanditiis cupiditate nihil, officiis repudiandae iusto perspiciatis eos asperiores
        temporibus dignissimos fuga impedit minima?</p> -->
    <br>
    <!-- view value by key -->
    <!-- <h1>สวัสดี : {{ firstName }}</h1> 
    <h2>คุณอายุ : {{ age }} ปี</h2> -->

    <!-- condition -->
    <!-- {% if age >= 30 %}
        <h3> คุณอายุมากกว่า 30 ปี</h3>
    {% else %}
        <h3> คุณอายุน้อยกว่า 30 ปี</h3>
    {% endif %} -->

    <!-- filter -->
    <!-- upper -->
    <!-- <h1>สวัสดี : {{ firstName | upper }}</h1>  -->
    <!-- lower -->
    <!-- <h1>สวัสดี : {{ firstName | lower }}</h1>  -->
    <!-- worldcount -->
    <!-- <h1>สวัสดี : {{ firstName | wordcount }}</h1>  -->

    <!-- view data in object model -->
    <!-- {% for person in all_person %}
        {{ person.name }} {{ person.age }}<br />
    {% endfor %} -->

    <h2 class="text-center">ข้อมูลประชากรทั้งหมด</h2>
      <!--message success-->
      {% if messages %}
        {% for message in  messages%}
        <div class="alert alert-success" role="alert">
          <strong>{{message}}</strong>
        </div>
        {% endfor %}
      {% endif %}
    <!-- view datatable -->
    <table class="table">
        <thead>
          <tr>
            <th scope="col">รหัสประชากร</th>
            <th scope="col">ชื่อ</th>
            <th scope="col">อายุ</th>
            <th scope="col">วันที่เพิ่มข้อมูล</th>
            <th scope="col">แก้ไข</th>
            <th scope="col">ลบ</th>
          </tr>
        </thead>
        <tbody>
          {% for person in all_person %}
            <tr>
                <th>{{ person.id }}</th>
                <td>{{ person.name }}</td>
                <td>{{ person.age }}</td>
                <td>{{ person.date }}</td>
                <td><a href="edit/{{person.id}}" class="btn btn-warning">แก้ไข</a></td>
                <td><a href="#" class="btn btn-danger">ลบ</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}

   